GameScreen{
    align: center middle;
}

#current-score{
    height: auto;
    align: center middle;
}

#high-score{
    height: auto;
    align: center middle;
}

#board-container{
    align: center middle;
    padding: 1;
    margin: 0;
    height: auto;
}
